.generalHomeDiv {
    overflow: hidden;
}

.hpTop {
    width: 90%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
}

.glassContainer {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    padding: 2rem;
    transition: all 0.5s;
    border: 2px solid rgba(255, 250, 242, 0);
}

.glassContainer:hover {
    backdrop-filter: blur(50px);
    border: 2px solid rgba(255, 250, 242, 0.525);
}

.glassContainer h2,
p {
    font-family: "Poiret One", sans-serif;
}

/* TOP_LEFT */

.homeButtonLeft {
    background-color: #013b5ee4;
    transition: all 0.3s;
}

.homeButtonLeft:hover {
    background-color: #013a5e57;
}


/* TOP_RIGHT */

.homeButtonRight {
    background-color: rgb(122, 30, 20);
    transition: all 0.3s;
}

.homeButtonRight:hover {
    background-color: rgba(122, 30, 20, 0.332);
}


/* ANIMATIONS */

.bgZoom {
    animation: zoomOut 1s ease-out forwards;
    transform: scale(1.1);
}

@keyframes zoomOut {
    to {
        transform: scale(1);
    }
}

.slowOpacity {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}