.generalHomeDiv {
    overflow: hidden;
}

.hpTop {
    width: 90%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
}

h2 {
    font-family: "Outfit", sans-serif;
}


/* TOP_LEFT */

.homeTopLeft {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    padding: 2rem;
    transition: all 0.5s;
}

.homeTopLeft:hover {
    backdrop-filter: blur(50px);
}

.homeButtonLeft {
    background-color: #013b5ee4;
    transition: all 0.3s;
}

.homeButtonLeft:hover {
    background-color: #013a5e86;
}


/* TOP_RIGHT */

.homeTopRight {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    padding: 2rem;
    transition: all 0.5s;
}

.homeTopRight:hover {
    backdrop-filter: blur(50px);
}

.homeButtonRight {
    background-color: rgb(122, 30, 20);
    transition: all 0.3s;
}

.homeButtonRight:hover {
    background-color: rgba(122, 30, 20, 0.541);
}


/* ANIMATIONS */

.bgZoom {
    animation: zoomOut 1s ease-out forwards;
    transform: scale(1.1);
}

@keyframes zoomOut {
    to {
        transform: scale(1);
    }
}

.slowOpacity {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}