.navbarCustom {
    background: rgba(255, 250, 242, 0.899);
    width: 95%;
    margin: 0 auto;
    border-radius: 0 0 50px 50px;
    transition: all 0.4s;
    animation: slideDown 1s ease forwards;
    transform: translateY(-100%);
}

@keyframes slideDown {
    to {
        transform: translate(0);
    }
}

.navbarSide {
    width: 30%;
}

.navbarSide a {
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(21, 21, 21);
    border-top: 2px solid rgba(122, 30, 20, 0);
    transition: all 0.3s;
}

.navbarSide a:hover {
    color: rgb(122, 30, 20);
    border-top: 2px solid rgba(122, 30, 20, 0.825);
}

/* LOGO */

.logoFont {
    font-family: "Limelight", sans-serif;
    font-size: 3.5rem;
}