.detailsImageContainer {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.guitarMainImg {
    max-height: 300%;
    max-width: 100%;
    transform: rotate(90deg);
    object-fit: contain;
}

.alternativeImg {
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.gridDetails {
    padding-top: 5rem;
}

.gridDetails img {
    cursor: pointer;
}

.cardDetails {
    padding: 2rem;
    border-radius: 10px;
    color: var(--colorBrown);
}

/* -------------------------------------- */
.modalDetailsOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modalDetailsContent {
    background-color: antiquewhite;
    width: 90%;
}