.generalHomeDiv {
    overflow: hidden;
}

/* TOP */
.hpTop {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
}

.glassContainer {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    padding: 2rem;
    transition: all 0.5s;
    border: 2px solid rgba(255, 250, 242, 0);
}

.glassContainer:hover {
    backdrop-filter: blur(50px);
    border: 2px solid rgba(255, 250, 242, 0.525);
}

.glassContainer h2,
p {
    font-family: "Poiret One", sans-serif;
}

/* buttons */

.beatyButton {
    color: #F6F6F7;
    border-radius: 50px;
    padding: 0.5rem 1.5rem;
    box-shadow:
        0px 3px 0px -1px rgba(255, 250, 242, 0.707),
        0px -3px 0px -1px rgba(255, 250, 242, 0.707);
    transition: all 0.3s;
}

.beatyButton:hover {
    background: rgba(255, 250, 242, 0.199);
    box-shadow:
        5px 1px 10px -1px rgba(255, 250, 242, 0.707),
        -5px -1px 10px -1px rgba(255, 250, 242, 0.707);
}

.beatyButton:active {
    background: rgba(255, 250, 242, 0);
}

/* animations */

.bgZoom {
    animation: zoomOut 2s ease-out forwards;
    transform: scale(1.1);
}

@keyframes zoomOut {
    to {
        transform: scale(1);
    }
}

/* POPULAR */
.guitarCard {
    background-color: var(--colorBeige);
    padding: 4rem;
    overflow: hidden;
    transition: all 0.3s;
}

.guitarCard img {
    height: 400px;
    object-fit: contain;
    transition: all 0.3s;
}

.guitarCard:hover {
    background-color: var(--colorBeigeSelected);
}

.guitarCard p {
    font-family: "Outfit", sans-serif;
    color: var(--colorDarkBeige);
    font-size: 1.2rem;
    position: absolute;
    top: 90%;
    left: 10%;
}

/* CUSTOM SHOP */
.customShopContainer {
    position: relative;
}

.customShopContainer::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.714);
    opacity: 0;
    transition: opacity 1s ease;
    transition-delay: 0.7s;
    z-index: 1;
}

.customShopContainer.fade-in.visible::before{
    opacity: 1;
}

.knockoutText {
    font-size: 10rem;
    width: 100%;
    color: transparent;
    line-height: 1;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}


/* ARTISTS */

.cardArtist {
    transition: all 0.3s;
}

.cardArtist:hover {
    opacity: 0.8;
}

.artistName {
    width: 100%;
    background: rgba(255, 250, 242, 0.899);
}