.navbarCustom {
    background: var(--colorBeigeSelected);
    width: 95%;
    margin: 0 auto;
    border-radius: 0 0 50px 50px;
    transition: all 0.4s;
    animation: slideDown 1s ease forwards;
    transform: translateY(-100%);
}

@keyframes slideDown {
    to {
        transform: translate(0);
    }
}

.navbarLeft {
    margin-left: 3rem;
}

.navbarRight {
    margin-right: 3rem;
}

.navbarLink {
    font-size: 1.5rem;
    color: rgb(21, 21, 21);
    border-top: 2px solid rgba(122, 30, 20, 0);
    transition: all 0.3s;
}

.navbarLink:hover {
    color: rgba(70, 68, 66, 0.707);
    border-top: 2px solid rgba(113, 111, 107, 0.707);
}

/* LOGO */

.logoFont {
    font-family: "Limelight", sans-serif;
    font-size: 3.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* BADGE */
.cartBadge {
    position: absolute;
    top: 50%;
    left: 50%;

}

/* PROFILE */
.iconsProfileContainer {
    border-radius: 30px;
    background-color: var(--colorBeige);
    margin: 0.5rem;
}

.iconsProfileContainer i {
    cursor: pointer;
    color: var(--colorDarkBeige);
    margin: 0 0.4rem;
}

.iconsProfileContainer i:active {
    color: var(--colorBrown);
}

.loginBtn {
    color: var(--colorBrown);
    border: 0;
    border-radius: 20px;
    background-color: var(--colorMediumBeige);
    transition: all 0.2s;
}

.loginBtn:hover {
    background-color: var(--colorBeige);
}

/* ADMIN */
.adminButton {
    transition: all 1s;
}

.adminButton:hover {
    animation: spin 2s ease infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}