@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Outfit:wght@100..900&family=Poiret+One&display=swap');

.card {
    cursor: pointer;
}

.textTrasparent {
    color: var(--colorTrasparent);
}

.fontTitle {
    color: var(--colorDarkBeige);
    font-size: 4rem;
}

body {
    background-color: var(--colorBeigeSelected);
    font-family: "Outfit", sans-serif;
}



/* COLORS */
:root {
    --colorDarkBeige: rgba(113, 111, 107, 0.707);
    --colorBeige: rgba(255, 250, 242, 0.899);
    --colorBeigeSelected: rgba(245, 240, 232, 0.899);
    --colorLightGrey: rgba(214, 210, 203, 0.899);
    --colorBrown: rgba(57, 45, 26, 0.899);
    --colorMediumBeige: rgba(200, 187, 165, 0.899);
    --colorSemiMediumBeige: rgba(233, 219, 197, 0.899);
    --colorTrasparent: rgba(200, 187, 165, 0);
    --colorBeigeRuby: rgb(209, 115, 100);
    --colorTurquoise: rgb(142, 201, 201);
}

/* BUTTONS */
.beatyButton {
    background-color: transparent;
    border: none;
    border-radius: 50px;
    padding: 0.5rem 1.5rem;
    box-shadow:
        0px 3px 0px -1px rgba(255, 250, 242, 0.707),
        0px -3px 0px -1px rgba(255, 250, 242, 0.707);
    transition: all 0.3s;
}

.beatyButton:hover {
    background: rgba(255, 250, 242, 0.199);
    box-shadow:
        5px 1px 10px -1px rgba(255, 250, 242, 0.707),
        -5px -1px 10px -1px rgba(255, 250, 242, 0.707);
}

.beatyButton:active {
    background: rgba(255, 250, 242, 0);
}

.beatyButton a {
    color: #F6F6F7;
}

.loginBtn {
    color: var(--colorBrown);
    border: 0;
    border-radius: 20px;
    background-color: var(--colorMediumBeige);
    transition: all 0.2s;
}

.loginBtn:hover {
    background-color: var(--colorBeige);
}

.beatyButton2 {
    border: 2px solid var(--colorBeige);
    border-radius: 10px;
    padding: 1rem;
    background-color: var(--colorTurquoise);
    color: var(--colorBeige);
    transition: all 0.2s;
}

.beatyButton2:hover {
    color: var(--colorBrown);
    background-color: var(--colorTrasparent);
    border: 2px solid var(--colorTurquoise);
}

.beatyButton2:active {
    background-color: var(--colorBeigeSelected);
    box-shadow: 0px 0px 5px 1px var(--colorTurquoise);
}

.beatyButton3 {
    padding: 0.5rem;
    border-radius: 20px;
    border: 1px solid var(--colorTrasparent);
    box-shadow: -1px 2px 0px 0px var(--colorDarkBeige);
    background-color: var(--colorTrasparent);
    transition: all 0.3s;
}

.beatyButton3Active {
    padding: 0.5rem;
    border-radius: 20px;
    border: 1px solid var(--colorTrasparent);
    background-color: var(--colorSemiMediumBeige);
    transform: translate(-2px, 2px);
    transition: all 0.3s;
}

.beatyButton3:hover {
    box-shadow: -1px 2px 0px 0px var(--colorTrasparent);
    background-color: var(--colorSemiMediumBeige);
    transform: translate(-2px, 2px);
}

.beatyButton3:active {
    background-color: var(--colorDarkBeige);
}

.beatyButton4 {
    color: var(--colorBeige);
    background-color: var(--colorTurquoise);
    border: 2px solid var(--colorBeige);
    border-radius: 50px;
    padding: 0.5rem 1.5rem;
    box-shadow:
        0px 3px 0px -1px var(--colorTurquoise),
        0px -3px 0px -1px var(--colorTurquoise);
    transition: all 0.3s;
}

.beatyButton4Disabled {
    color: var(--colorBeige);
    background-color: var(--colorLightGrey);
    border: 2px solid var(--colorBeige);
    border-radius: 50px;
    padding: 0.5rem 1.5rem;
    box-shadow:
        0px 3px 0px -1px var(--colorLightGrey),
        0px -3px 0px -1px var(--colorLightGrey);
    transition: all 0.3s;
}

.beatyButton4:hover {
    box-shadow:
        0px 3px 10px -1px var(--colorTurquoise),
        0px -3px 10px -1px var(--colorTurquoise);
}

.beatyButton4:active {
    background: var(--colorMediumBeige);
}

.beatyButtonSm {
    font-size: 1.4rem;
    width: 40px;
    height: 40px;
    border: 2px solid var(--colorBeige);
    border-radius: 10px;
    background-color: var(--colorBeigeRuby);
    color: var(--colorBeige);
    transition: all 0.2s;
}

.beatyButtonSm:hover {
    color: var(--colorBrown);
    background-color: var(--colorTrasparent);
    border: 2px solid var(--colorBeigeRuby);
}

.beatyButtonSm:active {
    background-color: var(--colorBeigeSelected);
    box-shadow: 0px 0px 5px 1px var(--colorBeigeRuby);
}

.editButtonSm {
    font-size: 1.4rem;
    width: 40px;
    height: 40px;
    border: 2px solid var(--colorBeige);
    border-radius: 10px;
    background-color: var(--colorTurquoise);
    color: var(--colorBeige);
    transition: all 0.2s;
}

.editButtonSm:hover {
    color: var(--colorBrown);
    background-color: var(--colorTrasparent);
    border: 2px solid var(--colorTurquoise);
}

.editButtonSm:active {
    background-color: var(--colorBeigeSelected);
    box-shadow: 0px 0px 5px 1px var(--colorTurquoise);
}


p {
    margin: 0;
}

/* CONTAINERS */
html,
body,
#root {
    height: 100%;
}

.appContainer {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.mainContent {
    flex: 1;
}

.containerAfterNavbar {
    width: 90%;
    margin: 5rem auto 0 auto;
}

.container90 {
    width: 90%;
    margin: 0 auto;
}

.container80 {
    width: 80%;
    margin: 0 auto;
}

.flexContainerCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexContainerBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexContainerLeft {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 0.6rem;
    transition: all 0.2s;
}

.flexContainerRight {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 0.6rem;
    transition: all 0.2s;
}

.beigeContainer {
    padding: 2rem;
    background-color: var(--colorBeige);
    border-radius: 20px;
}

.guitarCard {
    background-color: var(--colorBeige);
    padding: 4rem;
    overflow: hidden;
    transition: all 0.3s;
}

.guitarCard img {
    height: 400px;
    object-fit: contain;
    transition: all 0.3s;
}

.guitarCard:hover {
    background-color: var(--colorBeigeSelected);
}

.guitarCard p {
    font-family: "Outfit", sans-serif;
    color: var(--colorDarkBeige);
    font-size: 1.2rem;
    position: absolute;
    top: 90%;
    left: 10%;
}

a {
    text-decoration: none;
}

.loadingOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    border-radius: 10px;
}

.absoluteContainerCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* dropdownMenu */
.profileDropdownMenu {
    background: var(--colorBeige);
    border-radius: 10px;
    width: 200px;
}

.profileDropdownMenu a {
    color: var(--colorBrown);
}

.profileDropdownMenu p {
    font-size: 1.2rem;
    font-family: "Outfit", sans-serif;
}

.profileDropdownToggle::after {
    display: none;
}

.dropdownItem {
    border-radius: 20px;
    border-bottom: 2px solid transparent;
}

.dropdownItem:hover {
    transform: translateX(2px);
    border-bottom: 2px solid var(--colorMediumBeige);
}

/* MODALS */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.modalContent {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 450px;
    max-width: 90%;
}

/* ANIMATIONS */
.slowOpacity {
    opacity: 0;
    animation: slowOpacity 1s ease forwards;
}

@keyframes slowOpacity {
    to {
        opacity: 1;
    }
}

.fastOpacity {
    opacity: 0;
    animation: fastOpacity 0.3s ease forwards;
}

@keyframes fastOpacity {
    to {
        opacity: 1;
    }
}


.fade-in {
    opacity: 0;
    transform: translateY(10%);
    transition: all 0.5s ease;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}


.slideDown {
    animation: slideDown 0.3s ease forwards;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-8px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}