@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Outfit:wght@100..900&family=Poiret+One&display=swap');

/* COLORS */
:root {
    --colorDarkBeige: rgba(113, 111, 107, 0.707);
    --colorBeige: rgba(255, 250, 242, 0.899);
    --colorBeigeSelected: rgba(245, 240, 232, 0.899);
    --colorBrown: rgba(57, 45, 26, 0.899);
    --colorMediumBeige: rgba(200, 187, 165, 0.899);
    --colorTrasparent: rgba(200, 187, 165, 0);
    --colorBeigeRuby: rgb(209, 115, 100);
    --colorTurquoise: rgb(142, 201, 201);
}

.card {
    cursor: pointer;
}

.textTrasparent {
    color: var(--colorTrasparent);
}

.fontTitle {
    color: var(--colorDarkBeige);
    font-size: 4rem;
}

body {
    background-color: rgba(255, 250, 242, 0.899);
    font-family: "Outfit", sans-serif;
}

/* BUTTONS */
.beatyButton2 {
    border: 2px solid var(--colorBeige);
    border-radius: 10px;
    padding: 1rem;
    background-color: var(--colorTurquoise);
    color: var(--colorBeige);
    transition: all 0.2s;
}

.beatyButton2:hover {
    color: var(--colorBrown);
    background-color: var(--colorTrasparent);
    border: 2px solid var(--colorTurquoise);
}

.beatyButton2:active {
    background-color: var(--colorBeigeSelected);
    box-shadow: 0px 0px 5px 1px var(--colorTurquoise);
}

.beatyButtonSm {
    width: 40px;
    height: 40px;
    border: 2px solid var(--colorBeige);
    border-radius: 10px;
    background-color: var(--colorBeigeRuby);
    color: var(--colorBeige);
    transition: all 0.2s;
}

.beatyButtonSm:hover {
    color: var(--colorBrown);
    background-color: var(--colorTrasparent);
    border: 2px solid var(--colorBeigeRuby);
}

.beatyButtonSm:active {
    background-color: var(--colorBeigeSelected);
    box-shadow: 0px 0px 5px 1px var(--colorBeigeRuby);
}


p {
    margin: 0;
}

/* CONTAINERS */
.containerAfterNavbar {
    width: 90%;
    margin: 5rem auto 0 auto;
}

.container90 {
    width: 90%;
    margin: 0 auto;
}

.container80 {
    width: 80%;
    margin: 0 auto;
}

.flexContainerCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexContainerBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexContainerLeft {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 0.6rem;
    transition: all 0.2s;
}

.beigeContainer {
    padding: 2rem;
    background-color: var(--colorBeige);
    border-radius: 20px;
}

a {
    text-decoration: none;
}

.loadingOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    border-radius: 10px;
}

.absoluteContainerCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* dropdownMenu */
.profileDropdownMenu {
    background: var(--colorBeige);
    border-radius: 20px;
}

.profileDropdownMenu a {
    color: var(--colorBrown);
}

.profileDropdownMenu p {
    font-size: 1.2rem;
    font-family: "Outfit", sans-serif;
}

.profileDropdownToggle::after {
    display: none;
}

.dropdownItem {
    border-radius: 20px;
    border-bottom: 2px solid transparent;
}

.dropdownItem:hover {
    transform: translateX(2px);
    border-bottom: 2px solid var(--colorMediumBeige);
}

/* MODALS */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.modalContent {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 450px;
    max-width: 90%;
}

/* ANIMATIONS */
.slowOpacity {
    opacity: 0;
    animation: slowOpacity 1s ease forwards;
}

@keyframes slowOpacity {
    to {
        opacity: 1;
    }
}

.fastOpacity {
    opacity: 0;
    animation: fastOpacity 0.3s ease forwards;
}

@keyframes fastOpacity {
    to {
        opacity: 1;
    }
}


.fade-in {
    opacity: 0;
    transform: translateY(10%);
    transition: all 0.5s ease;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}


.slideDown {
    animation: slideDown 0.3s ease forwards;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-8px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}