@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Outfit:wght@100..900&family=Poiret+One&display=swap');

body {
    background-color: rgb(255, 250, 242);
    font-family: "Outfit", sans-serif;
}

.container90 {
    width: 90%;
}